<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: head" />

<body>
    <div th:include="fragments/common :: navbar"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-danger">
                    <strong th:text="#{error.internal}"></strong>
                </p>
            </div>
        </div>
    </div>

    <div th:include="fragments/common :: scripts"></div>
</body>

</html>
